

// #mainContainer{
//     display: flex;
//     flex-direction: column;

// }

#loginCreateAccountContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#createRecipeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginArea, #createAccountArea{
    margin-right:auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    position:relative;
    padding: 10rem;
}

.loginInput{
    // border-bottom: 2px solid #000;
    margin-bottom: 5rem;
}

.loginInput input{
    background-color: rgba(0,0,0,0);
    outline: none !important;
    border: 0;
    width: 20vw;
    font-size: 1.5vw;
}

.loginInput input::placeholder{
    color: #000;

}


.recipeInput{
    // border-bottom: 2px solid #000;
    margin-bottom: 5rem;
}

.recipeInput input{
    background-color: rgba(0,0,0,0);
    outline: none !important;
    border: 0;
    width: 75vw;
    font-size: 1.5vw;
}

.recipeInput input::placeholder{
    color: #000;

}

.submitBtn{
    background-color: #FFD972;
    box-shadow: 0 4px 4px 1px #000;
    border-radius: 5rem;
}

.submitBtn:hover{
    background-color: #ffe6a2;
    box-shadow: 0 1px 5px 1px #000;
}

.submitBtn:focus{
    background-color: #ffe6a2;
    box-shadow: 0 1px 5px 1px #000;
}

#createAccountCaption{
    font-style: italic;
}

.submitBtn a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 2vw;
}

#loginArea h1, #createAccountArea h1{
    font-weight: 400;
    margin-bottom: 5rem;
    text-align: left !important;
}


#createAccountCaption{
    font-size: 0.8rem;
}



@media only screen and (max-width: 960px){

    #loginCreateAccountContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #loginArea, #createAccountArea{
        margin-right:auto;
        margin-left: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        position:relative;
        padding: 10rem 2rem;
    }

    .loginInput input{
        background-color: rgba(0,0,0,0);
        outline: none !important;
        border: 0;
        width: 20vw;
        font-size: 2vw;
    }
}



@media only screen and (max-width: 500px){
    #loginArea{
        margin-right:auto;
        margin-left: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        position:relative;
        padding: 12rem 5rem;
    }
}